*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    scroll-behavior: smooth;
    font-family: 16px;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: helvetica, Arial;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.container-con{
    width: 80%;
    margin: 0 auto;
}
.flecha{
    width: 25px; 
    margin-left: 7px;  
    margin-top: 7px;
}
/* NAV */
nav{
    height: 50px;
    background-color: #000;
    position: sticky;
    top: 0;
    z-index: 99999;
    opacity: 0.7;
}
nav h2{
    position: absolute;
    width: 200px;
    top: 11px;
    left: 5%;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal
}
.portfolio{
    color: tomato; 
    padding-left: 2px;
}
nav ul{
    float: right;
    margin-right: 25px;
    list-style: none;
}
nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    padding: 5px 0;
    color: #fff;
    font-size: 18px;
    text-decoration: none;
    transition: all 300ms;
}
nav ul li a:hover{
    color: tomato;
}
label #sign-one,
label #sign-two{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}
.icon-linkedin{
    width: 20px; 
    margin-right: 10px;
    margin-bottom: -5px;
}
.icon-github{
    width: 20px; 
    margin-bottom: -5px;
}
/* Presentación */ 
.banner-area{
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 100%;
    top:0;
    /*height: 100%;*/
    display: flex;
    align-items: center;
    justify-content: start;
    background-image: url(../img/presentacion.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    -webkit-box-shadow: inset -1px 9px 22px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -1px 9px 22px 0px rgba(0,0,0,0.75);
    box-shadow: inset -1px 9px 22px 0px rgba(0,0,0,0.75);
}
.titulo{
    font-family: Helvetica, sans-serif;
    text-align: left;
    /*background-color: tomato;*/
    color: rgb(34, 34, 34);
    /*opacity: 0.7*/
    font-family: 'Poppins', sans-serif;
}
h1{
    margin-bottom: 1rem;
    font-size: 6rem;
    font-weight: 700;
    line-height: 60px;
}
.desarrollo{
    font-size: 2rem;
    padding-left: 2px;
    color: tomato;
}
.banner-text{
    padding-top: 100px;
}
.banner-text h2{
    color: #fff;
    margin-top: -140px;
    font-size: 56px;
    text-align: center;
}
.presentacion{
    font-size: 15px; 
    line-height: normal; 
    padding-left: 3px; 
    width: 70%; 
    text-align: justify;
    margin-bottom: 1rem;
} 
.boton_CV{
    margin-top: 20px; 
    background-color: transparent; 
    border: 2px tomato solid; 
    border-radius: 5px; 
    width: 100px;
    height: 35px; 
    margin-right: 10px;
    transition: all 300ms;
    cursor: pointer;
    margin-bottom: 3rem;
}
.boton_CV:hover{
    background-color: black;
    border: black solid 2px;
    color: white;
}
.boton_linkedin{
    width: 30px; 
    margin-right: 10px;    
    margin-bottom: -10px;
}
.boton_github{
    width: 30px;    
    margin-bottom: -10px;
}
.secc-1{
    margin-top: 40rem;
}
.secc-1-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
}
/* Seccion conocimientos*/
.conocimientos{
    width: 300px;
    margin: 0 auto;
    padding-left: 5px;
}
.conocimientos h2{
    text-align: justify;
    color: #222;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1.5rem;
}
.conocimientos h3{
    text-align: justify;
    color:#333;
    font-size: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem; 
    text-transform: uppercase;
}
.conocimientos ul{
    padding-left: 1.5rem; 
}
.conocimientos li{
    list-style: circle;
    color: #333;
}
/* Seccion Skills */
.skill h2{
    text-align: center;
    text-transform: uppercase;
}
.skill h3{
    margin:3px;
    font-size: 1rem;
}
.skill{
    width: 100%;
    margin: 0 auto;
    /*margin: 60px auto;*/
    color: #333;
    padding: 20px;
    padding-bottom: 3rem;
    /*box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0,0,0,0.22);*/
}
.skill li{
    margin: 0;
    padding: 10px;
}
.bar{
    background: #353b48;
    display: block;
    height: 20px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg, rgba(236, 0, 140, 1) 0%, rgba(252, 103, 103, 1) 100%);
}
.html{
    width: 76%;
    animation: html 3s;
}
.css{
    width: 76%;
    animation: css 3s;
}
.bootstrap{
    width: 66%;
    animation: bootstrap 3s;
}
.javascript{
    width: 45%;
    animation: javascript 3s;
}
.react{
    width: 43%;
    animation: react 3s;
}
.powerBI{
    width: 50%;
    animation: powerBI 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 76%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    }
    100%{
        width: 76%;
    }
}
@keyframes bootstrap{
    0%{
        width: 0%;
    }
    100%{
        width: 66%;
    }
}
@keyframes javascript{
    0%{
        width: 0%;
    }
    100%{
        width: 43%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    }
    100%{
        width: 33%;
    }
}
@keyframes powerBI{
    0%{
        width: 0%;
    }
    100%{
        width: 50%;
    }
}
/* Seccion cards */
.secc-2{
    color: #fff;
    background: #111;
   /* margin-top: 372px;*/
}
.titulo-secc-2{
    text-align: center;
    padding-top: 3rem;
    text-transform: uppercase;
}
.contenedor-cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
}
.card{
    margin: 3rem 0;
    width: calc((100/3));
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 300ms ease;
    color: rgb(255, 72, 40);
}
.card:hover{
    background:rgb(255, 72, 40);
    color: white;
}
.icons{
    font-size: 3rem;
    /*margin: 20px 105px;*/
}
.box{
    width: 80%;
    margin: 0 auto;
    transform: scale(1,1);
    transition: all 300ms;
    padding: 1rem 0;
}
.box:hover{
    transform: scale(1.1,1.1);
}
.text{
    /*text-align: center;*/
    font-size: 1.3rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}

/* Sección Educación */
.titulo-secc-3{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: #222;
}
.titulos-educ{
    /*padding-left: 10%;
    text-align: center;*/
    padding-left: 40%;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: #333;
    font-size: 1.4rem;
}
.section{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
}
.education{
    width: 70%;
    margin: 0 auto;
}
.education__container{
    row-gap: 2rem;
}
.education__content{
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-columns: 30% 10% 60%;
}
.education__year, .education__race{
    font-size: 1.1rem;
    margin-bottom: .25rem;
    color: rgb(65, 64, 64);
    text-align: justify;
}
.education__university, .education__specialty{
    display: block;
    font-size: 1rem;
    color: rgb(65, 64, 64);
    text-align: justify;
}
.education__year, .education__university{
    text-align: right;
}
.education__time{
    padding: 0 1rem;
    justify-self: center;
}
.education__rounder{
    position: relative;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: tomato;
    border-radius: 50%;
}
.education__rounder::before{
    content: '';
    position: absolute;
    transform: translate(-5px,-5px);
    width: 20px;
    height: 20px;
    border: 1px solid tomato;
    border-radius: 50%;
}
.education__line{
    display: block;
    height: 90%;
    width: 2px;
    background-color: tomato;
    transform: translate(5px, -4px);
}
/* Contacto
.fa, .fas {
    margin: 0 auto;
    font-weight: 900;
    display: block;
} */
.icons-part{
    display: block;
}
.contacto{
    padding-bottom: 3rem;
}
.contacto h2{
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    color: #222;
}
.grid-contacto{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-top: 2rem;
}
.grid-contacto2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}
.icons-part{
    text-align: end;
    font-size: 2.2rem;
    color: tomato;
}
.titulo-cont{
    font-size: 1.2rem;
    padding-bottom: .5rem;
}
.subtitulo-cont{
    font-size: 1rem;
    padding-bottom: 1rem;
}
#nombre{
    width: 40%;
    height: 35px;
    margin-bottom: .7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 1rem;
    font-family: Helvetica;
}
#email{
    width: 40%;
    height: 35px;
    margin-bottom: .7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 1rem;
    font-family: Helvetica;
}
#asunto{
    width: 81%;
    height: 35px;
    margin-bottom: .7rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding-left: 1rem;
    font-family: Helvetica;
}
#mensaje{
    width: 81%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 1rem;
    font-family: Helvetica;
    padding-top: .5rem;
    margin-bottom: .5rem;
}
.boton-contacto{
    width: 81%;
    height: 35px;
    transition: all 300ms;
    background-color: transparent; 
    border: 1px tomato solid; 
    background-color: rgb(255, 121, 97);
    color: white;
    font-family: Helvetica;
    font-size: 1.1rem;
    border-radius: 5px; 
    cursor: pointer;
    margin-bottom: 1rem;
}
.boton-contacto:hover{
    border: 1px black solid; 
    background-color: black;
}
#small_but{
    color: #333;
}
/* Footer */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: rgb(250, 62, 28);
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}

/* MEDIA QUERIES */ 


@media (max-width: 1084px){
    h1{
        font-size: 5rem;
    }
    .desarrollo{
        padding-left: 2px;
        font-size: 2rem;
    }
    .banner-text{
        padding-top: 100px;
    }
    .secc-1-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .conocimientos-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    .conocimientos{
        width: 70%;
        margin: 0 auto;
    }
    .conocimientos h2{
        text-align: center;
        margin-top: 0rem;
    }
}
@media (max-width: 958px){
    h1{
        font-size: 4rem;
    }
    .desarrollo{
        padding-left: 2px;
        font-size: 1.6rem;
    }
    .banner-text{
        padding-top: 100px;
    }
    .contenedor-cards{
        grid-template-columns: repeat(1, 1fr);
        padding-bottom: 3rem;
    }
    .card {
        margin: 0;
    }
    .box{
        padding: 0;
    }
    .titulo-secc-2{
        padding: 3rem 0;
    }
    .titulos-educ{
        padding-left: 0px;
        text-align: center;
    }
    .education__year, .education__race{
        text-align: start;
    }
    .education__university, .education__specialty{
        text-align: start;
    }
    .education__content{
        grid-template-columns: 20% 10% 70%;
    }
}
@media (max-width:446px){
    .education__year, .education__race{
        font-size: 15px;
    }
    .education__university, .education__specialty{
        font-size: 15px;
    }
    .education__content{
        grid-template-columns: 30% 10% 60%;
    }
}
@media (max-width: 870px){
    label #sign-one{
        display: block;
    }
    nav{
        opacity: 1;
    }
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: floralwhite;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }
    nav ul li{
        display: block;
        margin: 40px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
        color: tomato;
    }
    nav ul li a:hover{
        color: #333;
    }
    #res-menu:checked ~ ul{
        left: 0;
    }
    #res-menu:checked ~ label #sign-one{
        display: none;
    }
    #res-menu:checked ~ label #sign-two{
        display: block;
    }
    .icon-linkedin,.icon-github{
        width: 30px; 
    }
    /*****************************************/
    .container-con{
        width: 90%;
        margin: 0 auto;
    }
    .grid-contacto{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
        padding-top: 0rem;
    }
    .con-prueba{
        padding-bottom: 2rem;
    }
    .grid-contacto2{
        display: block;
    }
    .icons-part{
        display: block;
        text-align: center;
        padding-bottom: 1rem;
    }
    .iconos-contacto{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .titulo-cont, .subtitulo-cont{
        text-align: center;
    }
    #nombre{
        width: 50%;
        height: 35px;
        margin-bottom: .7rem;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    #email{
        width: 49%;
        height: 35px;
        margin-bottom: .7rem;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    #asunto{
        width: 100%;
        height: 35px;
        margin-bottom: .7rem;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    #mensaje{
        width: 100%;
        height: 100px;
        padding-left: 1rem;
        padding-top: .5rem;
    }
    .boton-contacto{
        width: 100%;
    }
}
@media (max-width: 490px){
    #nombre{
        width: 100%;
        height: 35px;
        margin-bottom: .7rem;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
    #email{
        width: 100%;
        height: 35px;
        margin-bottom: .7rem;
        font-size: 1.1rem;
        padding-left: 1rem;
    }
}
@media (max-width: 777px){
    .conocimientos-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .conocimientos li, .conocimientos h3, .conocimientos h2, .conocimientos ul{
        text-align:center;
        list-style: none;
        line-height: 25px;
        padding-left: 0rem; 
    }
    .container{
        width: 85%;
    }
}
@media (max-width: 770px){
    h1{
        font-size: 3rem;
        margin-bottom: 0px;
    }
    .desarrollo{
        padding-left: 2px;
        font-size: 1.4rem;
    }
    .banner-text{
        padding-top: 100px;
    }
    .presentacion{
        font-size: 15px; 
        padding-left: 3px; 
        width: 80%; 
    }
    .banner-text{
        padding-top: 100px;
    }
}
@media (max-width: 590px){
    h1{
        font-size: 2rem;
        margin-bottom: 0px;
    }
    .desarrollo{
        padding-left: 2px;
        font-size: 1.2rem;
    }
    .banner-text{
        padding-top: 100px;
    }
    .presentacion{
        font-size: 15px; 
        padding-left: 3px; 
        width: 90%; 
    }
    .banner-text{
        padding-top: 100px;
    }
}
@media (max-width: 475px){
    h1{
        font-size: 2.1rem;
        margin-bottom: -10px;
    }
    .desarrollo{
        padding-left: 2px;
        font-size: 1.1rem;
    }
    .banner-text{
        padding-top: 100px;
    }
    .presentacion{
        font-size: 13px; 
        padding-left: 3px; 
        width: 100%; 
    }
    .banner-text{
        padding-top: 100px;
    }
    .skill{
        padding: 20px 0px;
    }
    .conocimientos{
        padding-top: 20px;
    }
}

/* @media (min-width: 917px){
    .banner-area{
        height: 100%;
    }
} */

@media (min-width: 917px)
.banner-area {
    height: 68%;
}
